/* -------------------------------------------
navbar media query for larger screen starts
-------------------------------------------*/
@media screen and (min-width:991px) {
    .navbar div #first-logo img{
        width: 15%;
    }
    #footer-section img{
        width:80%;
    }
}

/* -------------------------------------------
navbar media query for small screen starts
-------------------------------------------*/
@media screen and (max-width:992px) {
    .navbar div #second-logo{
        width: 60%;
    }
    #footer-section img{
        width:80%;
    }
}

/* --------------------------------
animation of in mobile screen
------------------------------- */
@media screen and (min-width:320px) and (max-width:420px) {

    .non-animation-mobile {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    
} 